.navbarTop {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 40px;
    align-items: center;
}
.navWrapper {
    width: 90%;
    margin: 0px auto;
}
.nav {
    display: flex;
    padding: 20px 0px;
    justify-content: space-around;
    align-items: center;
}
.nav b {
    font-size: 40px;
}
.nav .menu {
    display: flex;
    gap: 20px;
}
.nav .search {
    display: flex;
    gap: 20px;
    align-items: center;
}
.search .searchForm {
    display: flex;
}
.searchForm input, 
.searchForm button {
    border: none;
    padding: 7px;
    outline: none;
    background-color: whitesmoke;
}
.searchForm input {
    border-radius: 5px 0px 0px 5px;
}
.searchForm button {
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


/* header  */
.header {
    width: 90%;
    margin: 10px auto;
    display: flex;
    height: 350px;
}
.header .headerLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headerLeft .headerText {
    display: flex;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
    align-items: center;
    transition: 0.1s;
    justify-content: space-between;
}
.headerText:hover {
    background-color: black;
}
.header .headerRight {
    flex: 2;
    padding: 20px 30px;
    background: right/cover url("./imagePhone.jpg");
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}



.categoryHeader {
    width: 90%;
    margin: 0px auto;
    padding-top: 40px;
}
.line {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.times {
    display: flex;
    gap: 20px;
}




/* day -  2 */
.arrayCarousel {
    position: relative;
}
.carousels {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.titlecarousel {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.caruslesCards {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    gap: 30px;
    transition: 0.3s;
}
.carouselCard {
    width: 380px;
    position: relative;
    text-align: center;
}
.carouselCard img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.carouselCard .icons {
    position: absolute;
    color: black;
    display: grid;
    gap: 20px;
    font-size: 25px;
    top: 10px;
    right: 10px;
    z-index: 100;
}
.icons i {
    z-index: 100;
    text-shadow:  0 0 10px rgb(255, 0, 0,0.8), 0 0 10px rgba(255, 0, 0, 0.8);
    transition: 0.2s;
}
.icons i:nth-child(2) {
    text-shadow:  0 0 10px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8);
}
.arrows {
    display: flex;
    justify-content: end;
    gap: 50px;
    font-size: 30px;
    align-items: start;
    z-index: 100;
}
.arrows i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 50%;
}
.arrows i:active {
    background-color: ghostwhite;
    color: black;
}




/* about  */

.conatiners {
    width:90%;
    margin:0px auto;
}
.conatiners .about {
    display: flex;
    height: 400px;
}
.about .aboutHearderLeft,
.about .aboutHearderRight {
    width: 45%;
    margin: 0px auto;
}
.about .aboutHearderLeft {
    margin: 100px 0px;
    padding:0px 30px;
}
.about .aboutHearderRight img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.about2 {
    padding:100px 55px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.about2 .aboutCard {
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    padding: 30px;
    color: black;
    transition: 0.3s;
}
.about2 .aboutCard i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0px 0px 2px 10px grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    font-size: 25px;
    transition: 0.3s;
}
.aboutCard:hover {
    background: #DB4444;
    color: white;
}
.aboutCard:hover i {
    background: white;
    color: black;
    box-shadow: 0px 0px 2px 10px rgb(196, 196, 196);
}
.aboutCard2 {
    width: 350px;
    padding: 15px;
    border: 2px solid white;
}
.aboutCard2 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.aboutCard2 .aboutIcons {
    display: flex;
    gap: 20px;
    font-size: 24px;
}
.aboutIcons i {
    transition: 0.3s;
}
.aboutIcons i:hover {
    text-shadow: 0px 0px 4px whitesmoke;
}

.aboutFooter {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}
.aboutFooter i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0px 0px 2px 10px grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    font-size: 25px;
    transition: 0.3s;
}
.footerCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}



/* footer */
footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    background: black;
    margin-top: 50px;
}
footer .footers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
footer .footers .d-flex {
    border: 2px solid white;
    border-radius: 5px;
}
footer .footers input{
    background: transparent;
    padding: 5px 10px;
    border: none;
    outline: none;
} 
footer .footers button{
    background: transparent;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
}
footer .footerIcons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}


.categoryCards {
    display: flex;
    margin-top: 40px;
    padding:40px 0px;
}
.startSection {
    color: #DB4444;
    position: relative;
    padding-left: 30px;
}
.startSection::before {
    content: "";
    position: absolute;
    width: 10px;
    left: 0px;
    border-radius:2px;
    height: 100%;
    background: #DB4444;
}
.categoryTopHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 0px;
}
.categoryCards {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.categoryCards .categoryCard {
    border: 2px solid white;
    width: 150px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    transition: 0.3s;
}
.categoryCards .categoryCard i {
 font-size: 40px;
}
.categoryCards .categoryCard:hover {
 color: white;
 background: #DB4444;
 box-shadow: 0px 0px 10px 2px #fff;
}

.newSection {
    background: black;
    display: flex;
}
.newSectionLeft {
    padding:50px 30px;
    width: 40%;
    margin: 0px auto;
}
.newSectionLeft 
.newSectionRight {
    width: 40%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newSectionRight img {
    width: 100%;
}



 /* contact  */
.containe {
    width: 90%;
    margin: 0px auto;
    /* padding: 0px 100px ; */
}
.contact {
    display: flex;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
}
.contactLeft {
    width: 30%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5); */
}

.contact .contactIcons {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contactIcons i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 25px;
    background-color: #DB4444;
}


.contactRight {
    width: 60%;
    /* background-color: dodgerblue; */
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.contactRight input {
    width: 30%;
    margin: 0px auto;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    outline: none;
}
.contactRight textarea {
    min-width: calc(100% - 10px);
    min-height: 100px;
    padding: 10px 0px 0px 10px;
    max-height: 300px;
    margin: 0px auto;
    border-radius: 5px;
    border: none;
    outline: none;
}
.contactRight div {
    width: 100%;
    margin-top: 20px;
    text-align: end;
}
.contactRight button {
    padding: 15px 60px;
    background: #DB4444;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
}
