.navbarTop {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 40px;
    align-items: center;
}
.navWrapper {
    width: 90%;
    margin: 0px auto;
}
.nav {
    display: flex;
    padding: 20px 0px;
    justify-content: space-around;
    align-items: center;
}
.nav b {
    font-size: 40px;
}
.nav .menu {
    display: flex;
    gap: 20px;
}
.nav .search {
    display: flex;
    gap: 20px;
    align-items: center;
}
.search .searchForm {
    display: flex;
}
.searchForm input, 
.searchForm button {
    border: none;
    padding: 7px;
    outline: none;
    background-color: whitesmoke;
}
.searchForm input {
    border-radius: 5px 0px 0px 5px;
}
.searchForm button {
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}


/* header  */
.header {
    width: 90%;
    margin: 10px auto;
    display: flex;
    height: 350px;
}
.header .headerLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headerLeft .headerText {
    display: flex;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
    align-items: center;
    transition: 0.1s;
    justify-content: space-between;
}
.headerText:hover {
    background-color: black;
}
.header .headerRight {
    flex: 2;
    padding: 20px 30px;
    background: right/cover url("./imagePhone.jpg");
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}



.categoryHeader {
    width: 90%;
    margin: 0px auto;
    padding-top: 40px;
}
.line {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.times {
    display: flex;
    gap: 20px;
}




/* day -  2 */
.arrayCarousel {
    position: relative;
}
.carousels {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.titlecarousel {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.caruslesCards {
    display: flex;
    width: auto;
    gap: 30px;
    transition: 0.3s;
}
.carouselCard {
    width: 350px;
    position: relative;
    text-align: center;
}
.carouselCard img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}
.carouselCard .icons {
    position: absolute;
    color: black;
    display: grid;
    gap: 20px;
    font-size: 25px;
    top: 10px;
    right: 10px;
    z-index: 100;
}
.icons i {
    z-index: 100;
    text-shadow: 5px 5px 5px  #fff;
    transition: 0.2s;
}
.arrows {
    display: flex;
    justify-content: end;
    gap: 50px;
    font-size: 30px;
    align-items: start;
    z-index: 100;
}
.arrows i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 50%;
}