#root , body , html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #1f1f1f;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
i {
  cursor: pointer;
}